@import url('./colors.less');

.full-centered{
    display:flex;
    align-items: center; 
    justify-content: center;
}

.row-vertical-centered{
    display:flex;
    flex-direction: row;
    align-items: center;    
}

.row-horizontal-centered{
    display:flex;
    flex-direction: row;
    justify-content: center;    
}

.default-shadow{
    box-shadow: 1px 1px 1px 1px @strong-gray;
}